[build-system]
requires = [
	"setuptools>=42",
	"wheel"
]
build-backend = "setuptools.build_meta"

[tool.setuptools]
package-dir = {"" = "mooseherder"}

[tool.setuptools.packages.find]
where = ["mooseherder"]
